/* style for website kalkulator segita */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #98dbc6; */
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-mathematical-geometry-symbol-education-mathematical-formula-background-picture-image_1457823.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

.header {
  color: #f4f4f4;
  text-shadow: 2px 2px 4px #000000;

}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.calculator {
  display: flex;
  justify-content: space-around;
}

.form-area,
.form-perimeter {
  width: calc(50% - 30px);
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #070707;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: 10px;
}

.input-fields {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  display: block;
  width: calc(105% - 10px);
  padding: 8px;
  border: 2px solid #070707;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #ff1302;
  color: #070707;
}

.footer {
  position: relative;
  background: #070707;
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
}

.copyright {
  color: #ffffff;
  text-decoration: none;
}

.copyright:hover {
  color: blue;
}

.result {
  width: calc(100% - 10px);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -2px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 2px solid #070707;
}
